<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Лист всех обследуемых адресов
		link(href="css/bootstrap.min.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
		//- link(href="css/select2.min.css" rel="stylesheet")
		//- link(href="css/select2-bootstrap.min.css" rel="stylesheet")
		link(href="css/font-awesome.min.css" rel="stylesheet")
		link(href="css/style.css" rel="stylesheet")
		link(href="css/tablesorter.css" rel="stylesheet")
	body
		.container-fluid
			.page-header.text-center
				h2.well Итоговая таблица по промазке 
				.btn-group(role="group")
					a.btn.btn-info(href='/') 
						i.fa.fa-plus
						| &nbsp;
						span.hidden-sm.hidden-xs К форме заполнения 
					| &nbsp;
					a.btn.btn-info(href='/list') 
						i.fa.fa-list-ol
						| &nbsp;
						span.hidden-sm.hidden-xs Список адресов с подробной информацией
					| &nbsp;
					a.btn.btn-info(href='/diagram') 
						i.fa.fa-bar-chart
						| &nbsp;
						span.hidden-sm.hidden-xs Отчет по обследованным адресам

		table.table-hover.table-bordered.table-condensed.text-center.tablesorter
			thead
				th.text-left Номер строки
				th.text-left Район
				th.text-left Участок
				th.text-left Строение
				th.text-left Улица
				th.text-left Номер дома
				th.text-left Этажность
				th.text-left Тип кровли
				th.text-left Общий объем кровли м2
				th.text-left Очистка от мусора м3
				th.text-left Ремонт отдельных мест м2
				th.text-left Проклейка швов мп
				th.text-left Ремонт металлических элементов м2
			tbody
				each obj, inx in listResult
					tr
						td #{obj['id']}
						td #{obj['address']['2']}
						td #{obj['address']['3']}
						td #{obj['address']['4']}
						td #{obj['address']['7']}
						td #{obj['address']['11']}
						td #{obj['address']['17']}
						td #{obj['address']['23']}
						td #{obj['address']['22']}
						td 
							if (obj['clear']['value'] !== "")
								b #{obj['clear']['value']} м3 
						td
							if (obj['element']['value'] !== "")
								b #{obj['element']['value']} м2 
							| #{obj['element']['type']}
						td 
							if (obj['glue']['value'] !== "")
								b #{obj['glue']['value']} м2 
							| #{obj['glue']['type']}
						td 
							if (obj['metal']['value'] !== "")
								b #{obj['metal']['value']} м2 
							| #{obj['metal']['type']}

	script(src='js/jquery-1.11.0.min.js')
	script(src='js/bootstrap.min.js')
	script(src='js/jquery.tablesorter.min.js')
	script
		|$(document).ready(function() {
		|	$("table").tablesorter({
		|		sortMultiSortKey: 'shiftKey'
		|	})
		|
		|});
	//- script(src='js/select2.full.min.js')
	//- script(src='js/i18n/select2.ru.js')
	//- script(src='js/script.js')